@main("What Blogerei Is About") {
    <h1>What Blogerei Is About</h1>
    <p>I'm a Ruby Developer who's interested in Scala programming language. Of course it's never only the programming
        language itself but also an enormous amount of related tools that are available. So, by saying Scala I assume
        the Play Framework, Slick Database, Akka, SBT and many more. I won't try to write about everything in this
        blog but rather stick to the language and use the power it provides. Each post has pretty much the same
        structure:</p>
    <ul>
        <li>Description of a certain problem that needs to be solved</li>
        <li>One or more solutions that I've come up with</li>
        <li>Specs that the code should pass</li>
        <li>Comments (better solutions?) from the readers</li>
    </ul>
    <p>By the way, this blog was also developed with Scala and Play Framework. You can contribute or just get familiar
        with the source code on <a href="https://github.com/HeeL/blogerei" target="_blank">github</a>.</p>
}