@(postForm: Form[Post], post_id: Int = 0)(implicit messages: Messages)

@main("Post", "posts") {

@helper.form(action = if(post_id > 0) routes.Posts.update(post_id) else routes.Posts.create()) {
    @helper.inputText(postForm("title"), 'class -> "form-control")
    @helper.textarea(postForm("task"), 'rows -> "15", 'class -> "form-control")
    @helper.textarea(postForm("solution"), 'rows -> "15", 'class -> "form-control")
    @helper.textarea(postForm("solution2"), 'rows -> "15", 'class -> "form-control")
    @helper.textarea(postForm("tests"), 'rows -> "15", 'class -> "form-control")
    <button type="submit" class="btn btn-success btn-lg pull-right">Save</button>
}

}