@main("Post", "posts") {
<form action="@routes.Posts.create" method="post">
    <div class="form-group">
        <label for="post_title">Title</label>
        <input type="text" class="form-control" id="post_title" name="title" placeholder="Title">
    </div>
    <div class="form-group">
        <label for="post_task">Task</label>
        <textarea class="form-control" rows="15" id="post_task" name="task" placeholder="Task"></textarea>
    </div>
    <div class="form-group">
        <label for="post_solution">Solution</label>
        <textarea class="form-control" rows="15" id="post_solution" name="solution" placeholder="Solution"></textarea>
    </div>
    <div class="form-group">
        <label for="post_solution2">Solution2</label>
        <textarea class="form-control" rows="15" id="post_solution2" name="solution2" placeholder="Alternative Solution"></textarea>
    </div>
    <div class="form-group">
        <label for="post_tests">Tests</label>
        <textarea class="form-control" rows="15" id="post_tests" name="tests" placeholder="Tests"></textarea>
    </div>
    <button type="submit" class="btn btn-success btn-lg pull-right">Save</button>
</form>

}