@(post: Post)

@main("Post Title", "posts") {
    <h1>@post.title</h1>
    <p>@post.task</p>

    <h2>Solution</h2>
    <p>@post.solution</p>

    @if(post.solution2 != None) {
        <h2>Alternative Solution</h2>
        <p>@post.solution2</p>
    }

    @if(post.tests != None) {
        <h2>Tests</h2>
        <p>@post.tests</p>
    }

    [<a href="@routes.Posts.delete(post.id)">delete</a>]

    <script>hljs.initHighlightingOnLoad();</script>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'Blogerei';

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
}